{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/CarPartList/CarPartList.css' %}">
<script src="https://kit.fontawesome.com/b8c53641bf.js" crossorigin="anonymous"></script>

<!--carPart start-->

<section class="carpart" id="carpart">

    <h1 class="heading"> Car <span>Part</span> </h1>

    <div class="carpart-content">
        {% for accesary in accesary %}
        <a href="{% url 'accessary_detail' accesary.slug %}">
            <div class="carpart_box">
                <img class="carpart-img" src="{{ accesary.accessary_images.url }}" alt="">
                <h2 class="product-title"> {{ accesary.accessary_name }} </h2>
                <span class="price">${{ accesary.accessary_price }}</span>
                <i class="fa-solid fa-plus"></i>
            </div>
        </a>         
        {% endfor %}
    </div>

</section>

<!--carPart end-->
<script src="{% static 'js/home/home.js' %}"></script>

{% endblock %}
