<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Attempt</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        div {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }
        .content{
            color:darkgoldenrod;
        }
    </style>
</head>
<body>

    <div>
        <h2 class="content">Register Attempt</h2>
        <p>Đã gửi thông báo xác nhận đến email của bạn.</p>
        <p>Vui lòng kiểm tra email và xác nhận để hoàn tất quá trình đăng ký.</p>
    </div>

</body>
</html>
